.login-section{
    width: 30%;
    height: 50vh;
    border: 1px solid slateblue;
    margin: 5% 30%;
    margin-top: 5%;
    text-align: center;
}

.content{
    margin: 1rem;
}
.login-section h3{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 2rem;
  color: #797373;
  margin-bottom: 5vh;
}
.input-block{
  margin-bottom: 1vh;
}

input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border:none;
    color: white;
    padding: 15px 80px;
    margin-top: 2vh;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    border-radius: 5px 5px 5px 5px;
    transition: all 0.3s ease-in-out;
  }
  
/* input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  } */

  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }

input[type=text],[type=password]{
    background-color: #f6f6f6;
    width: 80%;
    font-size: 1rem;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    border:none;
    border: 2px solid #f6f6f6;
    color: #0d0d0d;
    border-radius: 5px 5px 5px 5px;
    transition: all 0.5s ease-in-out;
}

input[type=text]:focus {
    background-color: #f6f6f6;
    border-bottom: 2px solid #5fbae9;
  }

input[type=password]:focus {
    background-color: #f6f6f6;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }